<div *ngIf="context.getData() as appData"
    class="uk-padding"
    uk-grid
>
    <!-- Greeting and picture -->
    <p class="uk-text-center uk-width-1-1">Hello! If you haven't guessed by now, my name is Scott Hudson. Welcome to my site, I'm so glad you're here!</p>

    <div class="uk-flex uk-flex-center uk-width-1-1">
        <div class="image-container">
            <img src="../../assets/images/profile-pic.jpg">
        </div>
    </div>

    <!-- Loop through the list of data and determine which sections to render -->
    <ng-container *ngFor="let data of appData.data">
        <a id="{{data.anchor}}"></a>

        <app-text-section *ngIf="data.sectionType == 'text'"
            [data]="data"
            class="uk-width-1-1"
        ></app-text-section>

        <app-list-section *ngIf="data.sectionType == 'list'"
            [data]="data"
            class="uk-width-1-1"
        ></app-list-section>

        <app-technical-section  *ngIf="data.sectionType == 'technical'"
            [data]="data"
            class="uk-width-1-1"
        ></app-technical-section>
    </ng-container>

    <!-- Contact Me -->
    <div>
        <h3 class="uk-text-center">Get in touch</h3>

        <p class="uk-text-center">
            I know it's different, but I'm actually not on social media, it doesn't align with my needs.
             That said, the best ways to get in touch with me are through the links below or by emailing me at <a href="mailto:hudson7557@gmail.com">hudson7557@gmail.com</a>.
        </p>

        <div class="uk-width-1-1 uk-flex uk-flex-center">
            <div class="uk-margin-medium-right">
                <a href="https://discord.com">
                    <span uk-icon="discord"></span>
                </a> @Doge#0988
            </div>

            <div>
                <a href="https://github.com/hudson7557">
                    <span uk-icon="github"></span>
                </a> @hudson7557
            </div>
        </div>
    </div>
</div>
